In [2]:
#1.Find the error in the following Python code:
import math
print(math.sqrt(16))

4.0

In [5]:
#2.Find the error in the following Python code:
X += 5
def my_function():
   
    print(x)

x = 10
my_function()

10

In [6]:
#3.x = 5
if x == 10:
    print("x is 10")

x is 10

In [13]:
#4.
numbers = [5, 3, 8, 2]
print(sorted(numbers))

[2, 3, 5, 8]

In [16]:
#5.
def square(n):
    return n*n
print(square(4))

16

In [30]:
#6.
my_tuple = (1, 2, 3)
my_tuple[1] = 5
#'tuple' object does not support item assignment
#immutable

TypeError: 'tuple' object does not support item assignment

In [19]:
#7.
name = "Alice"
age = 25
print("My name is %s and I am %d years old" ,(name,age))

My name is %s and I am %d years old ('Alice', 25)

In [24]:
#8.
a = [1, 2, 3]
b = [1, 2, 3]
if a == b:
    print("Lists are equal")

Lists are equal

In [27]:
#9.
for i in range(1, 5):
    print(i)

1
2
3
4

In [29]:
#10.
student = {"name": "John", "age": 20}
print(student["name"])

John